In [23]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
Base = declarative_base()

In [24]:
path = r"data/Census_Data.sqlite"
path2 = r"data/zip_census.sqlite"

In [25]:
sql_query = "SELECT * FROM Census_Data"
sql2 = "SELECT * FROM zip_census"

In [26]:
engine = create_engine(f"sqlite:///{path}")
conn = engine.connect()
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [27]:
def run_sql_query(sql_query, engine):
    with engine.connect() as connection:
        data = connection.execute(text(sql_query))
        # connection.commit()
    return data

def showsql(sql):
    for entry in sql:
        print(entry)

In [28]:
data = pd.read_sql(sql = sql_query, con = conn,)
data.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"HOUSTON, TX",HOUSTON,TX,3061887,1775897,684416,11586,230549,1368287,54180,...,22637,33.439583,32.550000,34.363542,56206.50000,32239.52083,956.708333,178233.6842,29.775734,-95.414548
1,"CHICAGO, IL",CHICAGO,IL,2702091,1318869,843633,7554,161478,785374,32800,...,18209,34.526786,33.798214,35.141071,57735.96429,38730.83929,1119.928571,264739.2857,41.867838,-87.673440
2,"BROOKLYN, NY",BROOKLYN,NY,2595259,1126111,870465,8744,297890,509243,48934,...,14845,35.175676,33.367568,36.578378,51469.18919,28309.67568,1261.783784,605743.2432,40.652805,-73.956528
3,"LOS ANGELES, CA",LOS ANGELES,CA,2426413,1068202,324842,15949,273829,1292382,62684,...,12329,35.335484,34.535484,36.061290,47494.58333,30073.19355,1201.766667,557115.0000,34.042209,-118.303468
4,"MIAMI, FL",MIAMI,FL,1820704,1361009,363514,2250,33144,1162711,27137,...,6969,38.740741,37.120370,40.262963,51232.90741,25949.35185,1260.833333,243279.6296,25.760268,-80.298511

In [29]:
class NahNi(Base):
    __tablename__ = "Census_Data"
    # data_ID = Column(Integer, )
    CityState = Column(Integer)
    city = Column(Integer)
    state = Column(Integer)
    Population = Column(Integer,primary_key = True)
    White_Population = Column(Integer)
    Black_Population = Column(Integer)
    Native_American_Population = Column(Integer)
    Asian_Population = Column(Integer)
    Hispanic_Population = Column(Integer)
    Education_None = Column(Integer)
    Education_High_School = Column(Integer)
    Education_GED = Column(Integer)
    Education_Associates = Column(Integer)
    Education_Bachelors = Column(Integer)
    Education_Masters = Column(Integer)
    Education_Professional = Column(Integer)
    Education_Doctorate = Column(Integer)
    Poverty = Column(Integer)
    Employment_Labor_Force = Column(Integer)
    Employment_Unemployed = Column(Integer)
    Employment_Male_Computer_Engineering = Column(Integer)
    Employment_Female_Computer_Engineering = Column(Integer)
    Median_Age = Column(Integer)
    Median_Male_Age = Column(Integer)
    Median_Female_Age = Column(Integer)
    Household_Income_= Column(Integer)
    Income_Per_Capita = Column(Integer)
    Median_Gross_Rent = Column(Integer)
    Median_Home_Value = Column(Integer)
    lat = Column(Integer)
    lng = Column(Integer)

SyntaxError: invalid syntax (2493994932.py, line 8)

In [ ]:
# dude = session.query(NahNii)
# for dudes in dude:
#     print(dudes)

In [ ]:
# Find those players from the USA who were born after 1989
born_after_1989 = session.query(NahNi).\
    filter(NahNi.Median_Male_Age > 20).filter(NahNi.Median_Female_Age == 21).\
    count()
print(f"{born_after_1989} USA players were born after 1989")

OperationalError: (sqlite3.OperationalError) no such column: Census_Data.White_Population
[SQL: SELECT count(*) AS count_1
FROM (SELECT "Census_Data"."CityState" AS "Census_Data_CityState", "Census_Data".city AS "Census_Data_city", "Census_Data".state AS "Census_Data_state", "Census_Data"."Population" AS "Census_Data_Population", "Census_Data"."White_Population" AS "Census_Data_White_Population", "Census_Data"."Black_Population" AS "Census_Data_Black_Population", "Census_Data"."Native_American_Population" AS "Census_Data_Native_American_Population", "Census_Data"."Asian_Population" AS "Census_Data_Asian_Population", "Census_Data"."Hispanic_Population" AS "Census_Data_Hispanic_Population", "Census_Data"."Education_None" AS "Census_Data_Education_None", "Census_Data"."Education_High_School" AS "Census_Data_Education_High_School", "Census_Data"."Education_GED" AS "Census_Data_Education_GED", "Census_Data"."Education_Associates" AS "Census_Data_Education_Associates", "Census_Data"."Education_Bachelors" AS "Census_Data_Education_Bachelors", "Census_Data"."Education_Masters" AS "Census_Data_Education_Masters", "Census_Data"."Education_Professional" AS "Census_Data_Education_Professional", "Census_Data"."Education_Doctorate" AS "Census_Data_Education_Doctorate", "Census_Data"."Poverty" AS "Census_Data_Poverty", "Census_Data"."Employment_Labor_Force" AS "Census_Data_Employment_Labor_Force", "Census_Data"."Employment_Unemployed" AS "Census_Data_Employment_Unemployed", "Census_Data"."Employment_Male_Computer_Engineering" AS "Census_Data_Employment_Male_Computer_Engineering", "Census_Data"."Employment_Female_Computer_Engineering" AS "Census_Data_Employment_Female_Computer_Engineering", "Census_Data"."Median_Age" AS "Census_Data_Median_Age", "Census_Data"."Median_Male_Age" AS "Census_Data_Median_Male_Age", "Census_Data"."Median_Female_Age" AS "Census_Data_Median_Female_Age", "Census_Data"."Household_Income_" AS "Census_Data_Household_Income_", "Census_Data"."Income_Per_Capita" AS "Census_Data_Income_Per_Capita", "Census_Data"."Median_Gross_Rent" AS "Census_Data_Median_Gross_Rent", "Census_Data"."Median_Home_Value" AS "Census_Data_Median_Home_Value", "Census_Data".lat AS "Census_Data_lat", "Census_Data".lng AS "Census_Data_lng"
FROM "Census_Data"
WHERE "Census_Data"."Median_Male_Age" > ? AND "Census_Data"."Median_Female_Age" = ?) AS anon_1]
[parameters: (20, 21)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
Base.metadata.create_all(engine)